.selectGroup {
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    /* justify-content: center; */
    align-items: center;
    color: white;
}

.selectItem {
    margin-right: 6px;
}

.strategies {
    display: flex;
}

.strategyColumn {
    flex: 1;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}

.statHeader {
    display: flex;
}

.title {
    font-size: 26px;
    font-weight: bold;
    margin-right: 10px;
    color: white;
}

.statTitle {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    color: white;
}

.statHeading {
    font-size: 16px;
    font-style: italic;
    padding-top: 5px;
}

.statGroup {
    padding-top: 10px;
    padding-bottom: 40px;
}

.error {
    color: red;
    font-size: 20px;
    text-align: center;
}

.topGroup {
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    justify-content: center;
    align-items: stretch;
    /* padding: 10px; */
    padding-bottom: 10px;
}

.chartContainer {
    padding: 20px;
}

.optionalTitle {
    font-size: 18px;
    /* font-weight: bold; */
    margin-right: 10px;
    padding-top: 20px;
}

